<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mageants_Contact::config_mageants_contact" title="Contacts Section" sortOrder="50">
                                <resource id="Mageants_Contact::save" title="Save Record" sortOrder="10" />
                                <resource id="Mageants_Contact::delete" title="Delete Record" sortOrder="20" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Mageants_Contact::contact_manage" title="Contacts" translate="title" sortOrder="10">
					<resource id="Mageants_Contact::contact_manage_items" title="Manage Contacts" translate="title" sortOrder="10">
						<resource id="Mageants_Contact::contact" title="Contacts" translate="title" sortOrder="10" />
						<resource id="Mageants_Contact::contact_save" title="Contacts" translate="title" sortOrder="10" />
					</resource>	
					<resource id="Mageants_Contact::contact_configuration" title="Configuration" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
