/**
 * custom theme 2021-02-03 03:42:37 */


#newsletter_pop_up{
width: 600px;height: 600px;background-image: url(http://blueskytechco.net/ayo/pub/media/rokanthemes/newsletter/background/stores/1/popup_1.png);}

.banner_background{         
	background-image: url(http://blueskytechco.net/ayo/pub/media/rokanthemes/banner_background/default/banner-h10-5.jpg); background-repeat: no-repeat; background-size: cover;}