<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Rokanthemes\BestsellerProduct\Block\Bestseller" type="Cooperative\Customwork\Block\Disquantity"/>
    <preference for="Magento\Customer\Block\Account\Navigation"
                type="Cooperative\Customwork\Block\Account\Navigation"/>
</config>
